BOT_TOKEN=8690428738:AAGUuo-V3id99Z-3UsT6twy2bJGmScCXFbA
# Admin Telegram ID (узнать у @userinfobot)
ADMIN_ID=8666952157
# Database
DATABASE_URL=sqlite:///lumi_bot.db
# Bot Settings
BOT_NAME=ЛЮМИ
DEBUG=True
